streamlit
pdfplumber
langchain
langchain-text-splitters
langchain-huggingface
langchain-community
langchain-groq
langchain-core
sentence-transformers
faiss-cpu
transformers==4.41.2
torch==2.9.0
